<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="consignmentApp">
<head>
	<title>iBookUnion Online Consignment Form</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="starter-template.css" />
</head>

<body>
<!-- PAGE NAVIGATOR -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#">iBU Consignment Form</a>
		  </div>
		  <div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
			  <li><a href="http://ibookunionubc.com">Return to Main Site</a></li>
			</ul>
		  </div><!--/.nav-collapse -->
		</div>
	  </div>

<!-- MAIN CONTAINER -->
<div class="container" ng-controller="ConsignmentCtrl as contactInfo">

	<!-- CONTACT INFO -->
<div class="row">

	<!-- LEFT CONTACT INFO -->
  <div class="col-md-4">
	<div class="form-section">
	  <h1>Contact Information</h1>
	  <span class="glyphicon glyphicon-user blue hidden-xs"></span>
	  <p class="lead">We'll be contacting you during the consignment session.</p>
	</div>
  </div>

	<!-- RIGHT CONTACT INFO -->
  <div class="col-md-8">

	<form role="form" class="contact-form">

		<div class="form-group">
			<label for="first_name">First Name</label>
			<input type="text" class="form-control" id="first_name" ng-model="contact.fname" placeholder="Enter first name" required>
		</div>

		<div class="form-group">
			<label for="last_name">Last Name</label>
			<input type="text" class="form-control" id="last_name" ng-model="contact.lname" placeholder="Enter last name" required>
		</div>

		<div class="form-group">
			<label for="student_number">Student Number</label>
			<input type="text" class="form-control" id="student_number" ng-model="contact.sno" placeholder="Enter student number">
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" ng-model="contact.email" placeholder="Enter email" required>
		</div>

		<div class="form-group">
			<label for="phone_number">Phone Number</label>
			<input type="text" class="form-control" id="phone_number" ng-model="contact.phno" placeholder="Enter phone number">
	 	</div>

		<div class="form-group">
			<label for="faculty">Faculty</label>
			<select id="faculty" ng-model="contact.faculty" name="faculty" class="form-control">
				<option>Arts</option>
				<option>Commerce</option>
				<option>Music</option>
				<option>Science</option>
				<option>Applied Science</option>
				<option>Forestry</option>
				<option>Dentistry</option>
				<option>Human Kinetics</option>
			</select>
		</div>

		<div class="form-group">
			<label for="how_you_know_ibu">How did you hear about iBU?</label>
			<textarea class="form-control" rows="2" id="how_you_know_ibu" ng-model="contact.discovery" name="how_you_know_ibu"></textarea>
		</div>

	</form>
	{{contact.fname}}
	</div>
</div>

	<!-- CONSIGNMENT -->
<div id="#consign" class="row" ng-controller="BookFormCtrl as consignedBooks">
	<div ng-controller="BookModalCtrl">
	<script type="text/ng-template" id="bookModal.html">
		<div class="modal-header">
			<h3 class="modal-title">Add A Book</h3>
		</div>
		<div class="modal-body">
			<form role="form" class="form-horizontal book-form" name="consignForm" ng-controller="ConsignFormCtrl as formCtrl" ng-submit="consignForm.$valid && formCtrl.addBook()" novalidate>
			  <div class="form-group">
				<label for="isbn">ISBN</label>
				<input type="text" class="form-control input-medium" ng-maxlength=13 ng-minlength=13 id="isbn" name="isbn" ng-model="formCtrl.consignedBook.isbn" placeholder="Enter ISBN(13 digit)" required>
				  <div class="error-container"
					   ng-show="consignForm.isbn.$dirty && consignForm.isbn.$invalid">
					  <small class="error"
							 ng-show="consignForm.isbn.$error.required">
						  ISBN is required.
					  </small>
					  <small class="error"
							 ng-show="consignForm.isbn.$error.minlength">
						  ISBN is required to be exactly 13 characters
					  </small>
					  <small class="error"
							 ng-show="consignForm.isbn.$error.maxlength">
						  ISBN cannot be longer than 13 characters
					  </small>
					  <small class="error"
							 ng-show="consignForm.isbn.$badInput">
						  That is not a valid ISBN. Please input a valid ISBN.
					  </small>

				  </div>
				  <div class="check-container" ng-show="consignForm.isbn.$dirty && consignForm.isbn.$valid">
					  <small class="checked">
						  &#10003;
					  </small>
				  </div>
			  </div>

			  <div class="row">

				  <div class="col-md-5">
					  <div class="form-group">
						<label for="course">Course Number</label>
						<input type="text" class="form-control input-medium" id="course" name="course" ng-model="formCtrl.consignedBook.courses[0]" ng-pattern="/^\w{4}\s?\d{3}$/" placeholder="Enter Course Number" required>
						  <div class="error-container"
							   ng-show="consignForm.course.$dirty && consignForm.course.$invalid">

							  <small class="error"
									 ng-show="consignForm.course.$invalid">
								  A valid course number consists of four letters and three numbers.
							  </small>
						  </div>
						  <div class="check-container" ng-show="consignForm.course.$dirty && consignForm.course.$valid">
							  <small class="checked">
								  &#10003;
							  </small>
						  </div>
					  </div>

				  </div>

				  <div class="col-md-1">
				  </div>

				  <div class="col-md-6">
					  <div class="form-group">
						<label for="price">Price</label>
						<div class="input-group">
							<span class="input-group-addon">$</span>
							<input type="number" min="0" class="form-control input-medium" id="price" name="price" ng-model="formCtrl.consignedBook.price" placeholder="Enter Price" required>
							<span class="input-group-addon">.00</span>
							<div class="error-container"
								 ng-show="consignForm.price.$dirty && consignForm.price.$invalid">
								<small class="error"
									   ng-show="consignForm.price.$invalid">

								</small>
							</div>


						</div>
					  </div>
				  </div>

			  </div>

			  <!-- show this for now div id="book-data" class="collapse"-->
				  <hr>
				  <div class="alert alert-warning" id="book-data-not-found" ng-show="consignForm.title.$error.required && !consignForm.title.$pristine">
					<a class="alert-link">Please fill in the book title</a>
				  </div>


				<!--<div class="alert alert-warning" id="author-not-validate" ng-show="consignForm.author.$error.required && !consignForm.author.$pristine">-->
					<!--<a class="alert-link">We don't recognize the author!</a>-->
				<!--</div>-->


				  <div class="form-group">
					<label for="title">Book Title</label>
					<input type="text" class="form-control input-medium" id="title" name="title" ng-model="formCtrl.consignedBook.title" placeholder="Enter Book Title" required>
				  </div>

				  <div class="form-group">
					<label for="author">Book Author</label>
					<input type="text" class="form-control input-medium" id="author" name="author" ng-model="formCtrl.consignedBook.author" ng-pattern="[a-zA-Z]" placeholder="Enter Book Author" required>
					  <div class="error-container"
						   ng-show="consignForm.author.$dirty && consignForm.author.$invalid">
						  <small class="error"
								 ng-show="consignForm.author.$error.required">
							  Book author is required.
						  </small>
						  <small class="error"
								 ng-show="consignForm.author.$badInput">
							  Please input a valid author name.
						  </small>

					  </div>
				  </div>

			  <!--/div-->
				<div class="form-group">
					<input type="submit" class="btn btn-primary pull-right" ng-disabled="consignForm.$invalid"  value="Add" />
					<button class="btn btn-danger pull-right" ng-click="cancel()">Done</button>
				</div>
		<!--will add buttons here later<div class="modal-footer">
			<button class="btn btn-danger" ng-click="cancel()">Done</button>
			<button class="btn btn-success" ng-click="ok()">OK</button>
		</div>-->
	</form>
		</div>

	</script>

	<div class="col-md-4">
		<div class="form-section">
			<h1>Consignment</h1>
			<span class="glyphicon glyphicon-book yellow hidden-xs"></span>
			<p class="lead">Tell us about the books you'll consign with us.</p>
		</div>
	</div>

	<div class="col-md-8">
		<div class="form-section">
			<p class="text-center text-info" ng-show="books.length == 0">You currently have no items added to the consignment form.</p>

			<table class="table table-responsive table-bordered table-hover">
				<thead>
					<tr>
						<th>Course</th>
						<th>Name</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody id="book-list" ng-repeat="book in books">
					<tr>
						<th>{{book.courses.join(", ") | uppercase}}</th>
						<th>{{book.title}}</th>
						<th>{{book.price | currency}}</th>
					</tr>
				</tbody>
			</table>
			<button id="add_button" name="add_button" class="btn btn-primary btn-success pull-right" ng-click="open()">Add Book</button>

			</div>
		</div>
	</div>
</div>

	<!-- AGREEMENT -->
<div id="#agreement" class="row">

	<div class="col-md-4">
		<div class="form-section">
			<h1>Agreement</h1>
			<span class="glyphicon glyphicon-ok green hidden-xs"></span>
			<p class="lead">Read the terms and conditions before consigning your items.</p>
		</div>
	</div>

	<div class="col-md-8">

		<div class="form-section">

			<div class="well">
				<p>
				It is the consignor's responsibility to set appropriate prices and to remember to collect unsold items and/or money on the pick-up dates. All unclaimed items and money after the pick-up period* will become iBU property. All consigned items will be dealt at the price set by the consignor at the time of consignment. The consignor will receive 80% of the set price if the items are sold. All unsold items will be returned to the consignor free of charge. By providing your personal information you consent to receive communication regarding iBU, during the sales period. The information collected will not be released to any third party.
					<p>
					<b>By agreeing to this contract, you have acknowledged that you have read and agreed to the terms and conditions of consignment with iBU.</b>
					</p>
				</p>
			</div>

			<h3 class="text-danger">
			*Pick-up Period: January 9th, 2015 (10am-5pm) SUB 213
			</h3>

			<label>
			  <input type="checkbox"> I agree to the terms above.
			</label>

		</div>
	</div>
</div>

	<!-- SUBMIT -->
<div class="row">
	<div class="col-md-4 col-md-offset-6">
		<div class="btn btn-block btn-primary" ng-click="createJson()">Submit Form</div>
	</div>
</div>

</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.2.js"></script>
	<script type="text/javascript" src="js/consignApp.js"></script>
	<script type="text/javascript" src="js/consign.js"></script>
	<script type="text/javascript" src="js/ibuValidate.js"></script>
</body>
</html>