body {
  padding-top: 50px;
  padding-bottom: 50px;
}
.form-section {
  padding: 40px 15px;
  text-align: center;
}

span.glyphicon-user {
    font-size: 9em;
      padding: 40px 15px;
}

span.glyphicon-book {
    font-size: 9em;
      padding: 40px 15px;
}

span.glyphicon-ok {
    font-size: 9em;
      padding: 40px 15px;
}

form.contact-form {
  padding: 40px 15px;
}

form.book-form {
  padding: 0px 15px;
}

.blue {
    color: #428bca;
}

.yellow {
    color: #f0ad4e;
}

.green {
    color: #5cb85c;
}


/* --- Navbar Style --- */
.navbar-default {
	background-color: #6aa63b;
	border-color: #598b31;
}
.navbar-default .navbar-brand {
	color: #b2d39d;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #ffffff;
}
.navbar-default .navbar-text {
	color: #b2d39d;
}
.navbar-default .navbar-nav > li > a {
	color: #b2d39d;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #598b31;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #598b31;
}
.navbar-default .navbar-toggle {
	border-color: #598b31;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #598b31;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #b2d39d;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #b2d39d;
}
.navbar-default .navbar-link {
	color: #b2d39d;
}
.navbar-default .navbar-link:hover {
	color: #ffffff;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #b2d39d;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #ffffff;
		background-color: #598b31;
	}
}