<div class="form-section">

    <div class="well">
        <p>
            It is the consignor's responsibility to set appropriate prices and to remember to collect unsold items
            and/or money on the pick-up dates. All unclaimed items and money after the pick-up period* will become iBU
            property. All consigned items will be dealt at the price set by the consignor at the time of consignment.
            The consignor will receive 80% of the set price if the items are sold. All unsold items will be returned to
            the consignor free of charge. By providing your personal information you consent to receive communication
            regarding iBU, during the sales period. The information collected will not be released to any third party.

        <p>
            <b>By agreeing to this contract, you have acknowledged that you have read and agreed to the terms and
                conditions of consignment with iBU.</b>
        </p>
        </p>
    </div>

    <h3 class="text-danger">
        *Pick-up Period: January 9th, 2015 (10am-5pm) SUB 213
    </h3>

    <label>
        <input type="checkbox" ng-model="agreement"/> I agree to the terms above.
    </label>

</div>