<accordion close-others="oneAtATime">

	<accordion-group heading="TODO: default value unless title binding is defined" ng-repeat="item in consignForm.items">
    	<div class="row">
	        <div class="col-md-6">
	            <div class="form-group">
	                <label for="isbn">ISBN</label>
	                <div class="check-container" ng-show="consignForm.isbn.$touched && consignForm.isbn.$valid">
	                    <small class="checked">
	                        &#10003;
	                    </small>
	                </div>

	                <input type="text" class="form-control input-medium" ng-maxlength=13 ng-minlength=13 id="isbn"
	                       name="isbn" ng-pattern="/^[0-9]{13}$/"
	                       ng-model="consignedBook.isbn" placeholder="Enter 13-digit ISBN" required>
	                <div class="error-container"
	                     ng-show="consignForm.isbn.$touched || consignForm.$submitted">
	                    <small class="error" ng-show="consignForm.isbn.$error.required">
	                        ISBN is required.
	                    </small>
	                    <small class="error" ng-show="consignForm.isbn.$error.pattern || consignForm.isbn.$badInput">
	                        This is not a valid ISBN. Please input a 13-digit ISBN.
	                    </small>
	                </div>
	            </div>
	        </div>

	        <div class="col-md-1"></div>

	        <div class="col-md-5">
	            <div class="form-group">
	                <label for="edition">Edition</label>
	                <div class="check-container" ng-show="consignForm.edition.$touched && consignForm.edition.$valid">
	                    <small class="checked">
	                        &#10003;
	                    </small>
	                </div>
	                <input type="text" class="form-control input-medium" id="edition" name="edition"
	                       ng-model="consignedBook.edition" ng-pattern=""
	                       placeholder="Enter Edition" required>
	                <div class="error-container"
	                     ng-show="consignForm.edition.$touched || consignForm.$submitted">
	                    <small class="error" ng-show="consignForm.edition.$invalid">
	                        Please enter the edition details.
	                    </small>
	                </div>
	            </div>
	        </div>
	    </div>

	    <!-- show this for now div id="book-data" class="collapse"-->
	    <div class="alert alert-warning" id="book-data-not-found"
	         ng-show="consignForm.title.$error.required && !consignForm.title.$pristine">
	        <a class="alert-link">Please fill in the book title</a>
	    </div>

	    <div class="form-group">
	        <label for="title">Book Title</label>
	        <div class="error-container"
	             ng-show="consignForm.title.$touched || consignForm.$submitted">
	            <small class="error" ng-show="consignForm.title.$error.required">
	                Book title is required.
	            </small>
	            <small class="error" ng-show="consignForm.title.$badInput">
	                Please input a valid title.
	            </small>
	        </div>
	        <input type="text" class="form-control input-medium" id="title" name="title"
	               ng-model="consignedBook.title" placeholder="Enter Book Title" required>
	    </div>

	    <div class="form-group">
	        <label for="author">Book Author</label>
	        <div class="error-container"
	             ng-show="consignForm.author.$touched || consignForm.$submitted">
	            <small class="error" ng-show="consignForm.author.$error.required">
	                Book author is required.
	            </small>
	            <small class="error" ng-show="consignForm.author.$badInput">
	                Please input a valid author name.
	            </small>
	        </div>
	        <input type="text" class="form-control input-medium" id="author" name="author"
	               ng-model="consignedBook.author" ng-pattern="/[a-zA-Z]+/" placeholder="Enter Book Author"
	               required>
	    </div>
	</accordion-group>

</accordion>

<span id="bundle-button" ng-click="addItem()"
    tooltip="If your textbook comes in multiple volumes, or if you prefer to sell mutiple books as a set, you can choose to bundle books together"  tooltip-trigger="mouseenter" tooltip-placement="right">
    <span class="glyphicon glyphicon-plus green hidden-xs"></span>
    <span>Bundle</span>
</span>