<div>
    <div class="modal-header">
        <h3 class="modal-title">Add a Book</h3>
        <button type="button" class="btn pull-right" ng-click="addItem()"
                tooltip="If you prefer to sell multiple books as a set, you can choose to bundle books together"
                tooltip-trigger="mouseenter" tooltip-placement="bottom">
            <span class="glyphicon glyphicon-plus green hidden-xs"></span>
            <span>Bundle</span>
        </button>
    </div>
    <div class="modal-body">
        <alert ng-if="alertMessage" close="makeAlert(undefined)">{{alertMessage}}</alert>
        <form role="form" class="form-horizontal book-form" name="consignForm"
              ng-submit="consignForm.$valid && submitForm()" novalidate>

            <accordion id="modal-accordion" close-others="false">
                <accordion-group heading="{{item.title || 'Book'}}" ng-repeat="item in consignmentItem.items"
                                 ng-form="itemForm" is-open="true">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pull-right glyphicon"
                                  ng-class="{'glyphicon-remove': consignmentItem.items.length > 1}"
                                  ng-click="removeItem($index)"
                                  tooltip="Warning: Will remove this item from the bundle." tooltip-trigger="mouseenter"
                                  tooltip-placement="left"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="isbn">ISBN</label>

                                <div class="check-container" ng-show="itemForm.isbn.$touched && itemForm.isbn.$valid">
                                    <small class="checked">
                                        &#10003;
                                    </small>
                                </div>

                                <input type="text" class="form-control input-medium" ng-maxlength=13 ng-minlength=13
                                       id="isbn"
                                       name="isbn" ng-pattern="/^[0-9]{13}$/"
                                       ng-model="item.isbn" placeholder="Enter 13-digit ISBN"
                                       ng-change="getBookDataIfExists(itemForm, consignmentItem.items, $index)" required>

                                <div class="error-container"
                                     ng-show="itemForm.isbn.$touched || consignForm.$submitted">
                                    <small class="error" ng-show="itemForm.isbn.$error.required">
                                        ISBN is required.
                                    </small>
                                    <small class="error"
                                           ng-show="itemForm.isbn.$error.pattern || itemForm.isbn.$badInput">
                                        This is not a valid ISBN. Please input a 13-digit ISBN.
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1"></div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="edition">Edition</label>

                                <div class="check-container"
                                     ng-show="itemForm.edition.$touched && itemForm.edition.$valid">
                                    <small class="checked">
                                        &#10003;
                                    </small>
                                </div>
                                <div class="error-container"
                                     ng-show="itemForm.edition.$touched || consignForm.$submitted">
                                    <small class="error" ng-show="itemForm.edition.$invalid">
                                        Please enter the edition details.
                                    </small>
                                </div>
                                <input type="text" class="form-control input-medium" id="edition" name="edition"
                                       ng-model="item.edition"
                                       ng-disabled="!newBook[$index]"
                                       placeholder="Enter Edition" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="title">Book Title</label>

                            <div class="error-container"
                                 ng-show="itemForm.title.$touched || consignForm.$submitted">
                                <small class="error" ng-show="itemForm.title.$error.required">
                                    Book title is required.
                                </small>
                                <small class="error" ng-show="itemForm.title.$badInput">
                                    Please input a valid title.
                                </small>
                            </div>
                            <input type="text" class="form-control input-medium" id="title" name="title"
                                   ng-model="item.title"
                                   ng-disabled="!newBook[$index]"
                                   placeholder="Enter Book Title" required>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="author">Book Author</label>

                            <div class="error-container"
                                 ng-show="itemForm.author.$touched || consignForm.$submitted">
                                <small class="error" ng-show="itemForm.author.$error.required">
                                    Book author is required.
                                </small>
                                <small class="error" ng-show="itemForm.author.$badInput">
                                    Please input a valid author name.
                                </small>
                            </div>
                            <input type="text" class="form-control input-medium" id="author" name="author"
                                   ng-model="item.author"
                                   ng-pattern="/[a-zA-Z]+/"
                                   ng-disabled="!newBook[$index]"
                                   placeholder="Enter Book Author"
                                   required>
                        </div>
                    </div>


                </accordion-group>
            </accordion>

            <hr>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="course">Course Number</label>

                        <div class="check-container" ng-show="consignForm.course.$touched && consignForm.course.$valid">
                            <small class="checked">
                                &#10003;
                            </small>
                        </div>
                        <input type="text" class="form-control input-medium" id="course" name="course"
                               ng-model="consignmentItem.courses" ng-pattern="/^([a-zA-Z]{4}\s?\d{3})(,\s*[a-zA-Z]{4}\s?\d{3})*$/"
                               placeholder="Enter Course Number" required>

                        <div class="error-container"
                             ng-show="consignForm.course.$touched || consignForm.$submitted">
                            <small class="error" ng-show="consignForm.course.$error.required">
                                Course number is required.
                            </small>
                            <small class="error"
                                   ng-show="consignForm.course.$error.pattern || consignForm.course.$badInput">
                                A valid course number consists of four letters and three numbers.
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-md-1"></div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="price">Price</label>

                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="number" min="1" class="form-control input-medium" id="price" name="price"
                                   ng-model="consignmentItem.price" placeholder="Enter Price" ng-pattern="/^[0-9]+$/" required>
                            <span class="input-group-addon">.00</span>
                        </div>
                        <div class="error-container"
                             ng-show="consignForm.price.$touched || consignForm.$submitted">
                            <small class="error" ng-show="consignForm.price.$error.required">
                                Book price is required.
                            </small>
                            <small class="error"
                                   ng-show="consignForm.price.$error.number || consignForm.price.$error.pattern || consignForm.price.$badInput">
                                The price must be a whole number.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Save"/>
                <button type="button" class="btn btn-danger pull-right" ng-click="cancel()">Cancel</button>
            </div>
            <hr>
            <div class="alert alert-warning" id="form-contains-errors"
                 ng-show="consignForm.$submitted && consignForm.$invalid">
                Some require fields are missing/incorrect.
            </div>
        </form>
    </div>
</div>
