<div class="form-section" ng-controller="BookFormCtrl">
    <p class="text-center text-info" ng-show="!consignmentForm.consignments.length">You currently have no items added
        to the consignment
        form.</p>

    <div class="list-group">
        <div ng-repeat="consignment in consignmentForm.consignments"
                ng-init="consignmentNo = $index">
            <a class="list-group-item"
               ng-click="openBookModal(consignment)">
                <div class="row book-entry">
                    <div class="col-xs-8 book-entry-main">
                        <h4 class="list-group-item-heading"
                            ng-repeat="book in consignment.items">
                            {{book.title}}
                            <small>{{book.author}}</small>
                        </h4>

                        <p class="list-group-item-text">{{consignment.items[consignmentNo].courses | uppercase}}</p>
                    </div>
                    <div class="col-xs-2 book-entry-secondary">
                        <select ng-if="isAdmin"
                                ng-model="consignment.currentState"
                                ng-click="$event.stopPropagation()"
                                ng-options="state for state in states">
                        </select>
                    </div>
                    <div class="col-xs-1 book-entry-secondary">
                        <h3 style="margin: 0">${{consignment.price}}</h3>
                    </div>

                    <div class="col-xs-1 book-entry-secondary">
                    <span class="badge remove-button"
                          ng-if="isNewConsignment"
                          ng-click="$event.stopPropagation(); removeConsignmentItem(consignment)">
                        <span class="glyphicon glyphicon-remove white"></span>
                    </span>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <button id="add_button" name="add_button" class="btn btn-primary btn-success pull-right" ng-click="openBookModal()">
        Add Book
    </button>
</div>