<form role="form" class="form-section" name="contactForm">

    <div class="form-group">
        <label for="first_name">First Name</label>
        <div class="error-container"
            ng-show="contactForm.first_name.$touched || contactForm.$submitted">
            <small class="error" ng-show="contactForm.first_name.$error.required">
            First name is required.
            </small>
        </div>
        <div class="check-container" ng-show="contactForm.first_name.$touched && contactForm.first_name.$valid">
            <small class="checked">&#10003;</small>
        </div>
        <input type="text" class="form-control" id="first_name" name="first_name" ng-model="consignment.fname" placeholder="Enter first name" required>
    </div>

    <div class="form-group">
        <label for="last_name">Last Name</label>
        <div class="error-container"
            ng-show="contactForm.last_name.$touched || contactForm.$submitted">
            <small class="error" ng-show="contactForm.last_name.$error.required">
            Last name is required.
            </small>
        </div>
        <div class="check-container" ng-show="contactForm.last_name.$touched && contactForm.last_name.$valid">
            <small class="checked">&#10003;</small>
        </div>
        <input type="text" class="form-control" id="last_name" name="last_name" ng-model="consignment.lname" placeholder="Enter last name" required>
    </div>

    <div class="form-group">
        <label for="studentId">Student Number</label>
        <div class="error-container"
            ng-show="contactForm.student_number.$touched && contactForm.student_number.$invalid">
            <small class="error" ng-show="contactForm.student_number.$invalid">
                Please enter a valid 8-digit student number.
            </small>
        </div>
        <div class="check-container" ng-show="contactForm.student_number.$touched && contactForm.student_number.$valid">
            <small class="checked">&#10003;</small>
        </div>
        <input type="text" class="form-control" id="student_number" name="student_number" ng-model="consignment.sno"
                ng-pattern="/\d{8}$/" placeholder="Enter student number" required>

    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <div class="error-container"
            ng-show="contactForm.email.$touched && contactForm.email.$invalid">
            <small class="error" ng-show="contactForm.email.$invalid">
                Please enter a valid email address.
            </small>
        </div>
        <div class="check-container" ng-show="contactForm.email.$touched && contactForm.email.$valid">
            <small class="checked">&#10003;</small>
        </div>
        <input type="email" class="form-control" id="email" name="email" ng-model="consignment.email" placeholder="Enter email" required>
    </div>

    <div class="form-group">
        <label for="phone_number">Phone Number (optional)</label>
        <div class="error-container"
            ng-show="contactForm.phone_number.$touched && contactForm.phone_number.$invalid">
            <small class="error" ng-show="contactForm.phone_number.$invalid">
                Please enter a valid phone number.
            </small>
        </div>
<!--         <div class="check-container" ng-show="contactForm.phone_number.$touched && contactForm.phone_number.$valid">
            <small class="checked">&#10003;</small>
        </div> -->
        <!-- ^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$ -->
        <input type="text" class="form-control" id="phone_number" name="phone_number" ng-model="consignment.phno"
               ng-pattern="/(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})/" placeholder="Enter phone number">
    </div>

    <div class="form-group">
        <label for="faculty">Faculty</label>
        <select id="faculty" ng-model="consignment.faculty" name="faculty" class="form-control">
            <option>Arts</option>
            <option>Commerce</option>
            <option>Music</option>
            <option>Science</option>
            <option>Applied Science</option>
            <option>Forestry</option>
            <option>Dentistry</option>
            <option>Human Kinetics</option>
        </select>
    </div>

    <div class="form-group">
        <label for="how_you_know_ibu">How did you hear about iBU?</label>
        <textarea class="form-control" rows="2" id="how_you_know_ibu" ng-model="consignment.discovery"
                  name="how_you_know_ibu"></textarea>
    </div>

</form>
