<!--From http://getbootstrap.com/examples/signin/-->
<form class="form-signin" name="loginForm" ng-submit="loginForm.$valid && logIn()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div ng-show="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
    <label for="username" class="sr-only">Email address</label>
    <input type="string" id="username" class="form-control" placeholder="Username" ng-model="loginForm.username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" ng-model="loginForm.password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>