<div class="container">
    <div class="page-header">
        <div>
            <h1>
                {{consignment.firstName}} {{consignment.lastName}}
                <small>#{{consignment.studentId}}</small>
            </h1>

        </div>
    </div>

    <tabset>
        <tab heading="Contact">
            <contact-form></contact-form>
        </tab>
        <tab heading="Consignment">
            <book-list consignment-form="consignment"></book-list>
        </tab>
    </tabset>

    <hr>

    <div class="row">
        <dl class="dl-horizontal text-center col-sm-3">
            <dt>Amount Owed:</dt>
            <dd>${{consignorPayout}}</dd>
        </dl>
        <div class="col-sm-3 col-sm-offset-6">
            <button type="button" class="btn btn-primary btn-block"
                    ng-click="saveConsignor()">Save Changes</button>
        </div>
    </div>
</div>
</body>
