<div class="container">
    <div class="page-header">
        <div>

            <h1>
                {{contact.fname}} {{contact.lname}}
                <small>#{{contact.consignmentNo}}</small>
            </h1>

            <h3><span class="label label-default">Consigned</span></h3>
        </div>
    </div>

    <tabset>
        <tab heading="Contact">
            <contact-form></contact-form>
        </tab>
        <tab heading="Consignment">
            <admin-book-list></admin-book-list>
        </tab>
    </tabset>

    <hr>

    <div class="row">
        <div class="col-sm-3 col-sm-offset-9">
            <button type="button" class="btn btn-primary btn-block">Save Changes</button>
        </div>

    </div>
</div>
</body>
