<!-- MAIN CONTAINER -->
<div class="container" ng-controller="ConsignmentCtrl">

    <!-- CONTACT INFO -->
    <div class="row">

        <!-- LEFT CONTACT INFO -->
        <div class="col-md-4">
            <div class="form-section instruction">
                <h1>Contact Information</h1>
                <span class="glyphicon glyphicon-user large blue hidden-xs"></span>
                <p class="lead">We'll be contacting you during the consignment session.</p>
            </div>
        </div>

        <!-- RIGHT CONTACT INFO -->
        <div class="col-md-8">
           <contact-form class=""></contact-form>
        </div>
    </div>

    <!-- CONSIGNMENT -->
    <div id="#consign" class="row">
            <div class="col-md-4">
                <div class="form-section instruction">
                    <h1>Consignment</h1>
                    <span class="glyphicon glyphicon-book large yellow hidden-xs"></span>
                    <p class="lead">Tell us about the books you'll consign with us.</p>
                </div>
            </div>

            <div class="col-md-8">
                <book-list class=""></book-list>
            </div>
    </div>

    <!-- AGREEMENT -->
    <div id="#agreement" class="row">

        <div class="col-md-4">
            <div class="form-section instruction">
                <h1>Agreement</h1>
                <span class="glyphicon glyphicon-ok large green hidden-xs"></span>
                <p class="lead">Read the terms and conditions before consigning your items.</p>
            </div>
        </div>

        <div class="col-md-8">
            <agreement class=""></agreement>
        </div>
    </div>

    <!-- SUBMIT -->
    <div class="row" ng-init="flag=false">
        <div class="col-md-4 col-md-offset-6">
            <div class="btn btn-block btn-primary" ng-click="submitForm(consignment.form)" ng-disabled="flag">Submit Form</div>
        </div>
    </div>

</div>