<div class="container">

    <div class="page-header">
        <div class="text-center">
            <h1>Consignment List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div ng-if="isbn">
                <h3 class="text-center">
                    {{book.result.title}}
                </h3>

                <div class="row">
                    <div class="col-xs-5">
                        <a class="thumbnail">
                            <img src="images/bookPlaceholder.jpg">
                        </a>
                    </div>
                    <div class="col-xs-7">
                        <dl>
                            <dt>Author</dt>
                            <dd>{{book.author}}</dd>
                            <dt>Edition</dt>
                            <dd>{{book.edition}}</dd>
                            <dt>Related Courses</dt>
                            <dd>{{book.courses}}</dd>
                        </dl>

                    </div>
                </div>


            </div>
            <div ng-if="!isbn">

                <div class="row">
                    <h4 class="text-center">
                        Search for Consignors
                    </h4>

                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="text" class="form-control" placeholder="Consignment ID">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h3 class="text-center">
                <span ng-if="isbn">
                    Book Availability
                </span>
                <span class="nullable">
                    <select ng-model="stateFilter" ng-options="state for state in states">
                        <option value="">-- All --</option>
                    </select>
                </span>

                <!--<span class="label label-default">Not in Store</span>-->
            </h3>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <td>Id</td>
                    <td>Consignor</td>
                    <td>Price</td>
                    <td>Status</td>
                    </thead>
                    <tbody>
                    <tr ng-repeat="consignment in consignments | filter:{currentState : stateFilter}"
                        ng-click="viewConsignment(consignment);">
                        <td>{{hexId(consignment.consignor.studentId)}}</td>
                        <td>{{consignment.consignor.studentId}}</td>
                        <td>{{consignment.price}}</td>
                        <td>{{consignment.currentState}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
