<div class="container">

    <div class="page-header">
        <div class="text-center">
            <h1>Consignment List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div ng-if="isbn">
                <h3 class="text-center">
                    {{book.title}}
                </h3>
                <div class="row">
                    <div class="col-xs-5">
                        <a class="thumbnail">
                            <img src="http://www-fp.pearsonhighered.com/assets/hip/images/bigcovers/0132350882.jpg">
                        </a>
                    </div>
                    <div class="col-xs-7">
                        <dl>
                            <dt>Author</dt>
                            <dd>{{book.author}}</dd>
                            <dt>Edition</dt>
                            <dd>{{book.edition}}</dd>
                            <dt>Related Courses</dt>
                            <dd>{{book.courseNumber}}</dd>
                        </dl>

                    </div>
                </div>


            </div>
            <div ng-if="!isbn">

                <div class="row">
                    <h4 class="text-center">
                        Search for Consignors
                    </h4>
                    <div class="col-sm-6 col-sm-offset-3">
                        <input type="text" class="form-control" placeholder="Consignment ID">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <h3 class="text-center">
                <div ng-if="isbn">Book Availability</div>
            </h3>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <td>Consignment #</td>
                    <td>Price</td>
                    </thead>
                    <tbody>
                    <tr ng-repeat="consignment in consignments"
                        ng-click="viewConsignor(consignment);">
                        <td>{{consignment.consignmentNumber}}</td>
                        <td>{{consignment.price}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
